h3 {
  text-align: center;
}

.edit-food {
  padding: .5em 0;
  text-align: left;
}

.table {
  border: 1px solid $ch-green;
  padding: 1em;
}

.food_types {
  padding: 2em;
}

th, td {
  text-align: center;
}

