.info {
  @include span-columns(6);
  float: left;
  padding: .5em;

  h4 {
    text-align: center;
    padding: 1em;
  }

  .about {
    text-align: center;
    color: $ch-green;
  }
}

.search {
  @include span-columns(6);
  float: left;
  text-align: center;
  padding: 1em;

  h5 {
    padding: .5em;
    text-align: center;
  }

  .strong {
    font-weight: bold;
    padding: .5em 0;
  }

  .quick_search {
    border: 1px solid green;
    padding: .5em;
    margin: 1em .5em;
  }

  .filter {
    border: 1px solid green;
    padding: .5em;
    margin: .5em;
  }

  .all {
    padding: 1em;
  }

  #food_types {
    margin: 0 auto;
  }
}
