<!DOCTYPE html>
<html>
<head>
  <title>Agency Profile</title>
  <link href="index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <h3>Welcome back, USERNAME </h3>
  <div class="info">
    <h1>Name</h1>
    <p>Contacts</p>
    <p>Hours</p>
    <p>Qty and Types of food accepted</p>
    <p>special requests</p>
    <div class="map">
      MAP
    </div>
  </div>
  <div class="dashboard">
    <p>dashboard?</p>
    <div class="receipts">
      <p>Pending receipts</p>
    </div>
    <div class="feedback">
      <p>Pending Feedback</p>
    </div>
  </div>
</body>
</html>
