header {
  @include outer-container;
  background-color: $ch-green;
  padding: .5em;

  a {
    color: #e7e7e7;
  }

  .title {
    text-align: center;
    color: white;
    padding: .5em;
    font-size: 1.25em;
  }

  .navigation {
    float: right;
    display: inline;
  }

  .welcome {
    text-align: center;
    color: $ch-green;
    display: inline;
  }

  .admin {
    float: left;
    display: inline;
  }
}
