/*
*= require mapbox
*/

@import "bourbon";
@import "base/base";
@import "neat";
@import "map";
@import "components/header";
@import "components/container";
@import "pages/user_dashboard";
@import "pages/agency_display";
@import "pages/admin_dashboard";

* {
  font-family: helvetica;
}

.notice {
  color :red;
  font-weight: bold;
}

.donate {
  position: relative;
  float: left;
}

.agency_log {
  position: relative;
  float: right;
  width: 50%;
}

.admin_log {
  position: relative;
}
