@import "bourbon";
@import "base/base";
@import "neat";
@import "map";

* {
  font-family: helvetica;
}

.donate {
  position: relative;
  float: left;
}

.agency_log {
  position: relative;
  float: right;
  width: 50%;
}

.admin_log {
  position: relative;
}
